<?xml version="1.0" encoding="UTF-8"?>
<GConstants>
	<EMainFrame eX = "200" eY = "100" eW = "1000" eH = "1000" />
	<EMenu>
		<eFileMenu label = "파일"/>
		<eEditMenu label = "편집"/>
		<eGraphicsMenu label = "그래픽속성"/>
	</EMenu>
	<EFileMenuItem  defaultPathName = "c:\\Users\\chois\\OneDrive\\programming\\classess\\classes-201801" >
		<eNew label = "new" toolTipText = "새로운 파일을 생성" /> 
		<eOpen label = "열기" toolTipText = "새로운 파일을 생성" />
		<eSave label = "저장" toolTipText = "새로운 파일을 생성" />
		<eSaveAs label = "다른이름으로" toolTipText = "새로운 파일을 생성" />
		<eClose label = "닫기" toolTipText = "새로운 파일을 생성" />
		<ePrint label = "프린트" toolTipText = "새로운 파일을 생성" />
		<eExit label = "종료" toolTipText = "새로운 파일을 생성" />
	</EFileMenuItem >
	<EEditMenuItem >
		<eReDo label = "다시실행" toolTipText = "새로운 파일을 생성" /> 
		<eUnDo label = "되돌리기" toolTipText = "새로운 파일을 생성" />
		<eCut label = "오려두기" toolTipText = "새로운 파일을 생성" />
		<eCopy label = "복사" toolTipText = "새로운 파일을 생성" />
		<ePaste label = "붙이기" toolTipText = "새로운 파일을 생성" />
		<eDelete label = "지우기" toolTipText = "새로운 파일을 생성" />
		<eGroup label = "그룹" toolTipText = "새로운 파일을 생성" />
		<eUnGroup label = "그룹해제" toolTipText = "새로운 파일을 생성" />
	</EEditMenuItem >
	<EGraphicsMenuItem >
		<eFontStyle label = "글자모양" toolTipText = "새로운 파일을 생성" />
		<elineStyle label = "라인모양" toolTipText = "새로운 파일을 생성" />
		<eLineColor label = "라인색" toolTipText = "새로운 파일을 생성" />
		<eFillColor label = "채우기색" toolTipText = "새로운 파일을 생성" />
	</EGraphicsMenuItem >
	<EToolBarButton pathName = "rsc">
		<eSelect label = "선택도구" toolTipText = "새로운 파일을 생성" imageFileName = "select"/> 
		<eRectangle label = "네모도구" toolTipText = "새로운 파일을 생성" imageFileName = "rectangle"/>
		<eEllipse label = "원도구" toolTipText = "새로운 파일을 생성" imageFileName = "ellipse"/>
		<eEllipse label = "원도구" toolTipText = "새로운 파일을 생성" imageFileName = "ellipse"/>
		<eLine label = "라인도구" toolTipText = "새로운 파일을 생성" imageFileName = "line"/>
		<ePolygon label = "다각형도구" toolTipText = "새로운 파일을 생성" imageFileName = "polygon"/>
		<eTextArea label = "텍스트박스" toolTipText = "새로운 파일을 생성" imageFileName = "textArea"/>
	</EToolBarButton>	
</GConstants>
